.banner-image{
  max-height: 500px;
}
.banner-image2{
  width: 500px;
  height: 500px;
  margin: auto;
  
}
.banner-img2{
  top: 270px;
}
.card {
  width: 500px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-top: -220px; 
  z-index: 1;
}
.text-and-button {
  margin-left: 20px; 
}

.text-and-button h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-and-button p {
  font-size: 16px;
  margin-bottom: 10px;
}

.text-and-button button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.card-vector{
  width: 150px;
  height: 150px;
}
.flex-1 {
  width: 50%;
}
.bar-banner{
  width: 30px;
  
}
.banner-dot{
  opacity: 0.2; 
}
.vector-container{
  justify-content: center;
}

/* RESPONSIVE*/
@media screen and (max-width: 894px) {
.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 650px;
}
.vector-container1 {
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
}
.mobile-menu-open .section-uno {
  transform: translateY(100px);
  transition: transform 0.3s ease;
}
}

@media screen and (max-width: 600px) {
.banner-dot, .bar-banner{
  display: none;
}
.banner-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-uno {
  width: 100%;
  position: relative;
}
.banner-image {
  position: relative;
  width: 100%;
}
.text-banner {
  position: absolute;
  top: 0;
  margin-top: 0px; 
  text-align: center;
  width: 100%;
  color: white;
  font-size: 25px;
  z-index: 2;
}
.banner-img2 {
  position: static;
  margin-left: 50%;
  margin-top: 0;
}
.banner-image2{
  position: relative;
  width: 250px;
  height: 250px;
  top: -114px;
}

.vector-container1 {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.card {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; 
  width: 400px;
}
.card-vector1, .card-vector2{
  max-width: 150px;
}

}
@media screen and (max-width: 390px) {
.banner-image2{
  width: 200px;
  height: 100px;
  top: -90px;
}
.card {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; 
  width: 400px;
}
.card-vector1, .card-vector2{
  max-width: 150px;
}
}