{{!-- <html>
  <head>
    <title>Verificación de Correo Electrónico</title>
  </head>
  <body>
    <h1>¡Verifica tu correo electrónico!</h1>
    <p>Hola {{name}},</p>
    <p>Por favor, haz clic en el siguiente enlace para verificar tu correo
      electrónico:</p>
    <a href='{{verificationLink}}'>Verificar Correo Electrónico</a>
  </body>
</html> --}}

<p>Hi {{name}},</p>
<p>Hello from NestJS NodeMailer</p>