.banner-image{
    max-height: 500px;
}
.banner-image2{
    /* position: fixed; */
    width: 500px;
    height: 500px;
    margin: auto;
    
}
/* .card {
    width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el contenido 
  }*/
  .card {
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: -220px; /* Ajusta este valor para controlar cuánto se superponen las cards sobre el banner */
    z-index: 1;
  }
  .text-and-button {
    margin-left: 20px; /* Espacio entre la imagen y el contenido */
  }
  
  .text-and-button h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-and-button p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .text-and-button button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.card-vector{
    width: 150px;
    height: 150px;
}
.flex-1 {
    width: 50%;
  }