.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info1, .profile-info2, .profile-info3, .profile-info4, .profile-info5, .profile-info6, .profile-info7, .profile-info8{
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
}
.profile-info1 {
    background-color: #fff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-top: .1px solid rgb(157, 155, 155);
    border-left: .1px solid rgb(157, 155, 155);
    border-right: 0 solid;
  }
  
  .profile-info2,
  .profile-info3,
  .profile-info4,
  .profile-info5,
  .profile-info6,
  .profile-info7 {
    background-color: #fff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-left: .1px solid rgb(157, 155, 155);
    border-right: 0 solid ;
  }
  
  .profile-info8 {
    background-color: #fff#b4adade3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 0 solid;
    border-left: .1px solid rgb(157, 155, 155);
    border-right: 0 solid;
  }
.profile-icons{
  border: 2px solid #b4adade3;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 35px;
    margin-left: 50px;
}
.go-go {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 10px; 
}